<div class="center">
    <span *ngIf="error" class="error">{{error}}</span>
</div>
<div class="tabs">
  <button *ngIf="!submitting" class="netflix-btn" [ngClass]="{'active': myMovies === 'nf'}" (click)="myMovies = 'nf'; getSelectedMovies()">Netflix</button>
  <button *ngIf="!submitting" class="amz-btn" [ngClass]="{'active': myMovies === 'amz'}" (click)="myMovies = 'amz'; getSelectedMovies()">Prime Video</button>
  <button *ngIf="!submitting && type === 'movies' && disney != null || !submitting &&  type === 'tv' && disneyTv.length > 0 " class="disney-btn" [ngClass]="{'active': myMovies === 'd'}" (click)="myMovies = 'd'; getSelectedMovies()">Disney+</button>
  <select name="cat" id="cat" (change)="onChange($event.target.value)">
      <option value="movies"> Movies </option>
      <option value="tv"> TV </option>
  </select>
  <select name="year" id="year" (change)="onYearChange($event.target.value)">
      <option value="20"> 2020 </option>
      <option value="19"> 2019 </option>
  </select>
</div>
<div class="genres center">
  <span [ngClass]="{'active': genre === '35'}" (click)="setGenre('35')">Comedy</span> 
  <span [ngClass]="{'active': genre === '28'}" (click)="setGenre('28')">Action</span> 
  <span [ngClass]="{'active': genre === '18'}" (click)="setGenre('18')">Drama</span> 
  <span [ngClass]="{'active': genre === '10749'}" (click)="setGenre('10749')">Romance</span> 
  <span [ngClass]="{'active': genre === '27'}" (click)="setGenre('27')">Horror</span> 
  <span [ngClass]="{'active': genre === '99'}" (click)="setGenre('99')">Doc</span>
</div>
<div class="genres center">
    <span [ngClass]="{'active': genre === '80'}" (click)="setGenre('80')">Crime</span> 
    <span [ngClass]="{'active': genre === '10751'}" (click)="setGenre('10751')">Family</span> 
    <span [ngClass]="{'active': genre === '10402'}" (click)="setGenre('10402')">Music</span> 
    <span [ngClass]="{'active': genre === '878'}" (click)="setGenre('878')">Sci-Fi</span> 
    <span [ngClass]="{'active': genre === '53'}" (click)="setGenre('53')">Thriller</span> 
    <span [ngClass]="{'active': genre === '37'}" (click)="setGenre('37')">Western</span>
</div>
<div class="center load-msg" *ngIf="submitting">
    <span>{{ type === 'movies' ? 'Fetching Movies...' : 'Fetching TV Info...' }}</span>
</div>
<div class="center load-spin" *ngIf="submitting">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
</div>
<div class="content-inside" *ngIf="!submitting">
<div class="slide-container" *ngIf="!isMobile">
    <app-slider [showBullets]="true" [title]="title"> 
        <ng-container *ngFor="let movies of getSelectedMovies(); let i = index">
           <div class="my-container slider__contents">
           <a [routerLink]="" class="item" *ngFor="let movie of movies; let i = index">
                
               <span class="bg" [ngStyle]="{'background': 'linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 80%), url(https://image.tmdb.org/t/p/w440_and_h660_face'+ movie?.poster_path +')', 'max-width': movies.length === 3 ? '70%' : movies.length === 2 ? '50%' : movies.length === 1 ? '30%' : '100%', 'margin': movies.length &lt; 4 ? '0 auto' : '0' }">
                 <span class="movie-index">{{movie?.rank}}</span>
                 <span class="info">
                     <p><span *ngIf="movie?.credit1">Cast: {{movie?.credit1}}, {{movie?.credit2}} <br></span>
                       Genre: {{movie?.details?.genres[0]?.name}} <br>
                       <span class="star-rating" *ngFor="let star of movie.rating"> <span>☆</span> </span> <br>
                       <span class="trailer-link" (click)="openTrailer(movie, type)">Trailer</span>
                      </p> 
                 </span>
               </span>
         
           </a>
           </div>
        </ng-container> 
     </app-slider>
</div>
<div class="slide-container" *ngIf="isMobile">
    <app-slider [showBullets]="false" [title]="title"> 
        <ng-container *ngFor="let movie of getSelectedMovies()">
           <div class="my-container slider__contents">
           <a [routerLink]="" class="item">
                
               <span class="bg" [ngStyle]="{'background': 'linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 80%), url(https://image.tmdb.org/t/p/w440_and_h660_face'+ movie?.poster_path +')' }">
                 <span class="movie-index">{{movie?.rank}}</span>
                 <span class="info">
                     <p><span *ngIf="movie?.credit1">Cast: {{movie?.credit1}}, {{movie?.credit2}} <br></span>
                       Genre: {{movie?.details?.genres[0]?.name}} <br>
                       <span class="star-rating" *ngFor="let star of movie.rating"> <span>☆</span> </span> <br>
                       <span class="trailer-link" (click)="openTrailer(movie, type)">Trailer</span>
                      </p> 
                 </span>
               </span>
        
           </a>
           </div>
        </ng-container> 
     </app-slider>
</div>
</div>
<div id="overlay" [ngClass]="{'active': isOpen}" (click)="isOpen = false; selectedMovie = null; trailerUrl = null">
    <div class="modal trailer-modal" (click)="$event.stopPropagation()">
      <div class="modal-header">
          <span class="header-title" *ngIf="selectedMovie != null">{{selectedMovie?.title ? selectedMovie?.title : selectedMovie?.name}} ({{selectedMovie?.release_date ? (selectedMovie?.release_date | date: 'y') : selectedMovie?.first_air_date | date: 'y'}})</span>
          <span class="right" (click)="isOpen = false; selectedMovie = null; trailerUrl = null">X</span>
      </div>
      <div class="content"> 
        <div id="top" class="row">
          <div *ngIf="trailerUrl != null" class="col-trailer"><iframe [src]="trailerUrl" width="560" height="315" frameborder="0" allowfullscreen></iframe>  </div>
          <div class="col-overview">
            <span class="star-rating" *ngFor="let star of selectedMovie?.rating"> <span>☆</span> </span> <span> {{selectedMovie?.rating?.length}}/10 </span> 
            <span *ngIf="selectedMovie?.details != null && selectedMovie?.details?.homepage != ''"><a class="{{myMovies}} watch-now-btn" href="{{selectedMovie?.details?.homepage}}" target="_blank">Watch Now</a></span> <br>
            <hr>
            <span>{{selectedMovie?.overview}} </span> <br>
            
            <span class="row cast" *ngIf="selectedMovie?.credits">
              <span class="col-cast" *ngFor="let actor of selectedMovie?.credits?.cast; let i = index"> 
                <span [ngClass]="{'dn': i > 3 || actor?.profile_path == null, 'cast-item':  i &lt;= 3 && actor?.profile_path != null}">
                    <img src="https://image.tmdb.org/t/p/w276_and_h350_face{{actor?.profile_path}}" alt="image of {{actor?.name}}"> <br>
                    {{actor?.name}} <br> ({{actor?.character}})
                </span>
              </span>
            </span>
          </div>
        </div> 
        <div class="row">
            <span class="rec-title">Recommended</span>
        </div>
        <div class="row">
          <div class="col related-col" *ngFor="let rel of related; let i = index">
              <span class="item" [ngClass]="{'dn': i > 4}">
                  <span class="bg" [ngStyle]="{'background': 'linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 80%), url(https://image.tmdb.org/t/p/w440_and_h660_face'+ rel?.poster_path +')' }">
                    <span class="info">
                        <p><span *ngIf="rel?.credit1">Cast: {{rel?.credit1}}, {{rel?.credit2}} <br></span>
                          Genre: {{rel?.details?.genres[0]?.name}} <br>
                          <span class="star-rating" *ngFor="let star of rel.rating"> <span>☆</span> </span> <br>
                          <span class="trailer-link" (click)="openTrailer(rel, type)">Trailer</span>
                        </p> 
                    </span>
                  </span>
              </span>
          </div>
        </div>          
      </div>  
    </div>
</div>

