<div class="center">
    <span *ngIf="error" class="error">{{error}}</span>
</div>
<!-- <div class="tabs">
  <button *ngIf="!submitting" class="netflix-btn {{provider}}" [ngClass]="{'active': myMovies === 'nf'}" (click)="myMovies = 'nf'; getSelectedMovies()">{{provider === 'npy' ? 'Netflix' : provider === 'hha' ? 'HBO' : 'Netflix'}}</button>
  <button *ngIf="!submitting" class="amz-btn {{provider}}" [ngClass]="{'active': myMovies === 'amz'}" (click)="myMovies = 'amz'; getSelectedMovies()">{{provider === 'npy' ? 'Prime Video' : provider === 'hha' ?  'Hulu' : 'Disney+'}}</button>
  <button *ngIf="!submitting && type === 'movies' && disney != null || !submitting &&  type === 'tv' && disneyTv.length > 0 " class="disney-btn {{provider}}" [ngClass]="{'active': myMovies === 'd'}" (click)="myMovies = 'd'; getSelectedMovies()">{{provider === 'npy' ? 'YouTube TV' : provider === 'hha' ? 'Apple TV' : 'PBS Kids'}}</button>
</div> -->
<div class="center">

  <div class="tabs">
    <select name="cat" id="cat" (change)="onChange($event.target.value)">
        <option value="movies"> Movies </option>
        <option value="tv"> TV </option>
    </select>
    <select name="year" id="year" (change)="onYearChange($event.target.value)" [value]="defaultYear">
        <option value="22"> 2022 </option>
        <option value="21"> 2021 </option>
        <option value="20"> 2020 </option>
        <option value="19"> 2019 </option>
        <option value="18"> 2018 </option>
        <option value="17"> 2017 </option>
        <option value="16"> 2016 </option>
        <option value="15"> 2015 </option>
    </select>
    <!-- <select name="provider" id="provider" (change)="onProviderChange($event.target.value)">
        <option value="npy"> Netflix </option>
        <option value="hha"> HBO </option>
        <option value="nkpkd"> Kids </option>
    </select> -->
  </div>
  <div class="genres center" *ngIf="gTop && provider != 'nkpkd'">
    <span class="btn" [ngClass]="{'active': genre === '35'}" (click)="setGenre('35')">Comedy</span> 
    <span class="btn" [ngClass]="{'active': genre === '28'}" (click)="setGenre('28')">Action</span> 
    <span class="btn" [ngClass]="{'active': genre === '18'}" (click)="setGenre('18')">Drama</span> 
    <span class="btn" [ngClass]="{'active': genre === '10749'}" (click)="setGenre('10749')">Romance</span> 
    <span class="btn" [ngClass]="{'active': genre === '27'}" (click)="setGenre('27')">Horror</span> 
    <span class="btn" [ngClass]="{'active': genre === '99'}" (click)="setGenre('99')">Doc</span>
    <span class="btn" [ngClass]="{'active': genre === '16'}" (click)="setGenre('16')">Animation</span>
    <span (click)="gBottom = true; gTop = false;">&#9660;</span>
  </div>
  <div class="genres center" *ngIf="gBottom && provider != 'nkpkd'">
    <span class="btn" [ngClass]="{'active': genre === '80'}" (click)="setGenre('80')">Crime</span> 
    <span class="btn" [ngClass]="{'active': genre === '10751'}" (click)="setGenre('10751')">Family</span> 
    <span class="btn" [ngClass]="{'active': genre === '10402'}" (click)="setGenre('10402')">Music</span> 
    <span class="btn" [ngClass]="{'active': genre === '878'}" (click)="setGenre('878')">Sci-Fi</span> 
    <span class="btn" [ngClass]="{'active': genre === '53'}" (click)="setGenre('53')">Thriller</span> 
    <span class="btn" [ngClass]="{'active': genre === '37'}" (click)="setGenre('37')">Western</span>
    <span class="btn" [ngClass]="{'active': genre === '36'}" (click)="setGenre('36')">History</span>
    <span (click)="gTop = true; gBottom = false;">&#9650;</span>
  </div>
  <div class="genres center kids" *ngIf="provider === 'nkpkd'">
  <span class="btn" [ngClass]="{'active': genre === '16'}" (click)="setGenre('16')">Animation</span> 
  <span class="btn" [ngClass]="{'active': genre === '10751'}" (click)="setGenre('10751')">Family</span> 
  </div> 
</div>

<div class="center load-msg" *ngIf="submitting">
    <span>{{ type === 'movies' ? 'Fetching Movies...' : 'Fetching TV Info...' }}</span>
</div>
<div class="center load-spin" *ngIf="submitting">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
</div>

<div class="content-inside" *ngIf="!submitting">

<div *ngIf="type === 'movies'">
  <app-slider 
  [title]="'netflix'" 
  [items]="netFlix" 
  [type]="type"
  [sliderType]="'slide1'"
  (open)="openTrailer($event.item)"></app-slider>
  <app-slider 
  [title]="'prime video'" 
  [items]="amazon" 
  [type]="type" 
  [sliderType]="'slide2'"
  (open)="openTrailer($event.item)"></app-slider>
  <app-slider 
  [title]="'disney+'" 
  [items]="disney" 
  [type]="type"
  [sliderType]="'slide3'"
  (open)="openTrailer($event.item)"></app-slider>
  
  <div *ngIf="hbo.length != 0">
    <app-slider 
    [title]="'hbo max'" 
    [items]="hbo" 
    [type]="type"
    [sliderType]="'slide4'"
    (open)="openTrailer($event.item)"></app-slider>
    <app-slider 
    [title]="'hulu'" 
    [items]="hulu" 
    [type]="type" 
    [sliderType]="'slide5'"
    (open)="openTrailer($event.item)"></app-slider>
    <span *ngIf="apple.length != 0">
      <app-slider 
      [title]="'apple+'" 
      [items]="apple" 
      [type]="type"
      [sliderType]="'slide6'"
      (open)="openTrailer($event.item)"></app-slider>
    </span> 
  </div>
</div>

<div *ngIf="type === 'tv'">
  <app-slider 
  [title]="'netflix'" 
  [items]="netFlixTv" 
  [type]="type"
  [sliderType]="'slide1'"
  (open)="openTrailer($event.item)"></app-slider>
  <app-slider 
  [title]="'prime video'" 
  [items]="amazonTv" 
  [type]="type" 
  [sliderType]="'slide2'"
  (open)="openTrailer($event.item)"></app-slider>
  <app-slider 
  [title]="'disney+'" 
  [items]="disneyTv" 
  [type]="type"
  [sliderType]="'slide3'"
  (open)="openTrailer($event.item)"></app-slider>
  
  <div *ngIf="hboTv.length != 0">
    <app-slider 
    [title]="'hbo max'" 
    [items]="hboTv" 
    [type]="type"
    [sliderType]="'slide4'"
    (open)="openTrailer($event.item)"></app-slider>
    <app-slider 
    [title]="'hulu'" 
    [items]="huluTv" 
    [type]="type" 
    [sliderType]="'slide5'"
    (open)="openTrailer($event.item)"></app-slider>
    <span *ngIf="appleTv.length != 0">
      <app-slider 
      [title]="'apple+'" 
      [items]="appleTv" 
      [type]="type"
      [sliderType]="'slide6'"
      (open)="openTrailer($event.item)"></app-slider>
    </span> 
  </div>
</div>

<div class="center" *ngIf="provider === 'npy'">
  <span class="more-btn" (click)="onProviderChange('hha')">Load More 20{{year}} {{util.genres[genre]}}</span>
</div>

</div>
<div id="snackbar" [ngClass]="{'show' : util.showSnack}">{{util.reminderAlert}} <span *ngIf="util.reminderAlert === 'Reminder Added'"> &#10003;</span> </div>

<app-dialog
[isOpen]="isOpen"
[data]="related"
[title]="'Recommended'"
[type]="'something'"
[showTitles]="''"
[content]="type"
[loading]="loading"
[loadingTitle]="'Recommended'"
[selectedMovie]="selectedMovie"
[selected]="selected"
[selectedTV]="''"
[dialogUrl]="dialogUrl"
[trailerUrl]="trailerUrl"
[trailerUrlTV]="''"
[showTrailer]="showTrailer"
(close)="isOpen = false; showTrailer = false"></app-dialog>

