<div class="container">
    <header class="navbar">
        <div class="content">
         <h2>Streaming Lists</h2> 
        </div>
      </header>
  <router-outlet></router-outlet>
  <div class="push"></div>
</div>
<footer>
  <div class="row">
    <div class="col logo-col"><img src="./assets/images/sl.png" alt="logo"></div>
    <div class="col">About</div>
    <div class="col">
      <span>Data sourced from <img style="width: 7%;" src="./assets/images/tmdb.svg" alt="logo"></span></div>  
  </div>
</footer>